body {
    min-height: 100vh;
    background-color: #084C61;
    opacity: 0;
    filter: blur(5px);
    animation: fadeIn 1s ease-in-out forwards;
}
  
@keyframes fadeIn {
    from {
        opacity: 0;
        filter: blur(5px);
    }
    to {
        opacity: 1;
        filter: blur(0);
    }
}

svg{
    cursor: pointer;
}

.check-btn {
    right: 10%;
}

.tooltip-inner {
    max-width: 100%;
    height: auto;
    text-align: left;
}

.bi {
    position: absolute;
    padding: auto;
    margin: auto;
}

h1{
    font-size: 13vh;
    color: #EF6461;
}

#todo-input{
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
}

#dropdownMenuLink {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

#dropdownMenuLink, .dropdown-menu, .dropdown-menu li a{
    background-color: #A997DF;
}

#todo-add, #todo-input, .list-group-item{
    background-color: #DCCFEC;
}

.text-decoration-line-through {
    background-color: #7DAF9C !important;
}
  